/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

body {
    text-align: center;
    margin: 0 auto;
    background-image: url(./assets/04-BG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}
h1 {
    font-family: 'Cookie', cursive;
    font-size: 71px;
    color: #e3edcb;
    font-weight: 300;
    line-height: 80%;
    text-align: center;
    margin: 0 auto;
}
.title{
    margin: 6em 0 2em 0;
}
.nav {
    display: table;
    width: 100%;
    margin: 0 auto;
    height: 4em;
    background-color:#acd0b6;
    padding-top: 12px;    
}
.logo{
    padding-top: 5px;
}

.survey {
    margin-bottom: 20px;
    display: flex;
    width: 30em;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}

.survey::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 10px;
}

.container {
    align-items: center;
	max-width: 400px;
	margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#name {
    height: 3em;
}

#email {
    height: 3em;
}

#message {
    height: 9em;
}

#send {
    height: 4em;
    text-align: center;
    width: 30em;
    background-color: cornflowerblue;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 1px 2px darkcyan;
}

#send::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}
.messages{
    margin-top: 10px;
    margin-bottom: 20px;
}
.msgSucess{
    display: block;
    height: 20px;
    text-align: center;
    width: 15em;
    background-color: #53a068;
    border-radius: 10px;
    color: #ffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
    
}
.msgError{
    display: block;
    height: 20px;
    text-align: center;
    width: 15em;
    background-color: red;
    border-radius: 10px;
    color: #ffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
}
@media(max-width: 568px){
    .survey{
        width: 25em;
    }
    #send{
        width: 25em;
        margin-bottom: 20px;
    }
    h1{
        font-size: 50px;
    }
    .title{
        margin: 3em 0 2em 0;
    }
}

@media(max-width: 320px){
    body{
        height: 100%;
    }
    .survey{
        width: 20em;
    }
    #send{
        width: 20em;
        margin-bottom: 20px;
    }
}



